<!DOCTYPE html>
<html>
  <head>
    <title>BlogMini</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="header">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 class="navbar-brand"><%= link_to "Blog_mini", root_path %></h1> 
        </div>
        <div class="collapse navbar-collapse" id="navigation">


          <p class="navbar-text navbar-right">
          
            <% if user_signed_in? %>
              <%= current_user.nickname %> さんでログイン中
              <%= link_to "マイページ", user_path(current_user.id), class: 'btn btn-success',style: 'margin-left: 30px'  %>
              <%= link_to "新規作成", new_tweet_path, class: 'btn btn-primary'  %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete,data: {confirm: 'ログアウトしてよろしいですか？'}, class: 'btn btn-danger'  %>
            <% else %>
              <%= link_to "ログイン", new_user_session_path, class: 'btn btn-success'  %>
              <%= link_to "アカウント作成", new_user_registration_path, class: 'btn btn-success'  %>
            <% end %>

           </p>
        </div>
      </div>
    </nav>
  </header>
      </div>
    </nav>
  </div>

    <%= yield %>
  </body>
</html>
